absl-py==2.1.0
aiobotocore @ file:///C:/b/abs_1c1a_vjay2/croot/aiobotocore_1682537737724/work
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools @ file:///C:/b/abs_70vydn6fmg/croot/aioitertools_1754313763510/work
aiosignal @ file:///C:/b/abs_84ej696pud/croot/aiosignal_1755870823775/work
alabaster @ file:///C:/b/abs_45ba4vacaj/croot/alabaster_1718201502252/work
altair @ file:///C:/b/abs_0b1avjyzoc/croot/altair_1743016738596/work
anaconda-anon-usage @ file:///home/task_176160626771849/conda-bld/anaconda-anon-usage_1761606317374/work
anaconda-catalogs @ file:///C:/b/abs_ac59ma63va/croot/anaconda-catalogs_1747774731997/work
anaconda-client @ file:///C:/b/abs_80wttmgui4/croot/anaconda-client_1694625288614/work
anaconda-cloud-auth @ file:///C:/b/abs_5cjpnu6wjb/croot/anaconda-cloud-auth_1694462130037/work
anaconda-navigator @ file:///C:/b/abs_cfvv8k_j21/croot/anaconda-navigator_1704813334508/work
anaconda-project @ file:///C:/b/abs_c3nd60wjs2/croot/anaconda-project_1746215311215/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622521119/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925007150/work
arrow @ file:///C:/miniconda3/conda-bld/arrow_1761560616272/work
astroid @ file:///C:/ci_311/astroid_1678740610167/work
astropy @ file:///C:/miniconda3/conda-bld/astropy_1762433880527/work
astropy-iers-data @ file:///C:/miniconda3/conda-bld/astropy-iers-data_1763019997333/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
astunparse==1.6.3
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121591843/work
async-timeout @ file:///C:/b/abs_c8fgiuixkq/croot/async-timeout_1703097556097/work
atomicwrites==1.4.0
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356954445/work
Automat @ file:///C:/b/abs_e6j20ekmp5/croot/automat_1743532580167/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///C:/b/abs_ffzt1bmjth/croot/babel_1737454394148/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tarfile @ file:///C:/b/abs_c0eaq29_rf/croot/backports.tarfile_1728485199412/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///C:/miniconda3/conda-bld/bcrypt_1762875140137/work
beautifulsoup4 @ file:///C:/b/abs_95vq944bnw/croot/beautifulsoup4-split_1756453107890/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/b/abs_620t6ndje8/croot/black_1680737261963/work
bleach @ file:///C:/b/abs_925i9psm3u/croot/bleach_1732292896852/work
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
bokeh @ file:///C:/miniconda3/conda-bld/bokeh_1757102819028/work
boltons @ file:///C:/b/abs_e2_iokhxbp/croot/boltons_1751383740243/work
botocore @ file:///C:/b/abs_01gwdn34ju/croot/botocore_1682528022942/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938191468/work
Brotli @ file:///C:/miniconda3/conda-bld/brotli-split_1762363653590/work
cachetools @ file:///C:/b/abs_fcvwpc5vh9/croot/cachetools_1738224687938/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1763135349059/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
chardet @ file:///C:/b/abs_3f08pnpj_d/croot/chardet_1755516293556/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761745005832/work
click @ file:///C:/b/abs_bbg7qqz4dk/croot/click_1754477951021/work
cloudpickle @ file:///C:/b/abs_fdydcrc9_2/croot/cloudpickle_1751309451995/work
clyent==1.2.2
colorama @ file:///C:/ci_311/colorama_1676422310965/work
colorcet @ file:///C:/b/abs_7ep0mfawez/croot/colorcet_1709758405232/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119240032/work
conda @ file:///C:/b/abs_3eb7ewgq2c/croot/conda_1694545461647/work
conda-build @ file:///C:/b/abs_8di4gx5nj5/croot/conda-build_1692366837286/work
conda-content-trust @ file:///C:/b/abs_bdfatn_wzf/croot/conda-content-trust_1714483201909/work
conda-libmamba-solver @ file:///C:/b/abs_016p0csqp7/croot/conda-libmamba-solver_1691418958509/work/src
conda-pack @ file:///C:/b/abs_7b5jwr84ex/croot/conda-pack_1752674284442/work
conda-package-handling @ file:///C:/miniconda3/conda-bld/conda-package-handling_1762366541715/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///C:/miniconda3/conda-bld/conda-index_1761321713516/work
conda_package_streaming @ file:///C:/miniconda3/conda-bld/conda-package-streaming_1762361649932/work
ConfigArgParse==1.7
constantly @ file:///C:/b/abs_cbuavw4443/croot/constantly_1703165617403/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cookiecutter @ file:///C:/b/abs_6ak0be77em/croot/cookiecutter_1751313989831/work
cryptography @ file:///C:/miniconda3/conda-bld/cryptography-split_1761931985249/work
cssselect @ file:///C:/b/abs_71gnjab7b0/croot/cssselect_1707339955530/work
cv==1.0.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_9fo7kaynab/croot/cytoolz_1736803775290/work
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask @ file:///C:/b/abs_23lvfodys3/croot/dask-core_1686782960052/work
datashader @ file:///C:/b/abs_0dvz2ks6tk/croot/datashader_1756382478739/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657701/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/miniconda3/conda-bld/dill_1760096871596/work
distributed @ file:///C:/b/abs_7509xfv227/croot/distributed_1686866088894/work
docstring-to-markdown @ file:///C:/miniconda3/conda-bld/docstring-to-markdown_1758626864853/work
docutils @ file:///C:/miniconda3/conda-bld/docutils_1761746638832/work
et_xmlfile @ file:///C:/b/abs_b0ifp_j3js/croot/et_xmlfile_1756462499666/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
filelock @ file:///C:/miniconda3/conda-bld/filelock_1762419922635/work
flake8 @ file:///C:/ci_311/flake8_1678376624746/work
Flask @ file:///C:/b/abs_28dbmjidmh/croot/flask_1756453142071/work
flatbuffers==24.3.7
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1759754888085/work
frozenlist @ file:///C:/miniconda3/conda-bld/frozenlist_1761062036738/work
fsspec==2025.10.0
future @ file:///C:/b/abs_bfx7g4al1k/croot/future_1730902814365/work
gast==0.5.4
gitdb @ file:///C:/b/abs_1bkmriimss/croot/gitdb_1753362133190/work
GitPython @ file:///C:/miniconda3/conda-bld/gitpython_1761291329624/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-pasta==0.2.0
greenlet @ file:///C:/miniconda3/conda-bld/greenlet_1757405600117/work
grpcio==1.62.1
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931279881/work
h5py==3.11.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///C:/b/abs_b9spj9wtoz/croot/holoviews_1750966130022/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447374704/work
hvplot @ file:///C:/miniconda3/conda-bld/hvplot_1756992721851/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044050/work
ImageIO @ file:///C:/miniconda3/conda-bld/imageio_1762954230881/work
imagesize @ file:///C:/ci_311/imagesize_1676431905616/work
imbalanced-learn @ file:///C:/b/abs_275a0acaq2/croot/imbalanced-learn_1685025644593/work
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
imutils==0.5.4
incremental @ file:///croot/incremental_1743512672142/work
inflection==0.5.1
iniconfig @ file:///C:/b/abs_70kaor_ccd/croot/iniconfig_1752653749904/work
intake @ file:///C:/b/abs_36v90t4ek6/croot/intake_1752749551025/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093310/work
ipympl @ file:///C:/b/abs_2fdfe_fnms/croot/ipympl_1752060862279/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///C:/miniconda3/conda-bld/ipywidgets_1761560180311/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///C:/b/abs_87vsk6a5ji/croot/itemadapter_1756732900203/work
itemloaders @ file:///C:/b/abs_f35dqz89dk/croot/itemloaders_1743513855167/work
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/b/abs_6f48xbyztf/croot/jaraco.context_1728505024809/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi @ file:///C:/ci_311/jedi_1679427407646/work
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jmespath @ file:///C:/b/abs_59jpuaows7/croot/jmespath_1700144635019/work
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926375805/work
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonpatch @ file:///C:/b/abs_4fdm88t7zi/croot/jsonpatch_1714483974578/work
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
jsonschema @ file:///C:/miniconda3/conda-bld/jsonschema_1762459313135/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788559143/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console @ file:///C:/b/abs_82xaa6i2y4/croot/jupyter_console_1680000189372/work
jupyter-events @ file:///C:/b/abs_9cm3qlticu/croot/jupyter_events_1741184612840/work
jupyter-lsp @ file:///C:/b/abs_7171flzdkg/croot/jupyter-lsp-meta_1745827033118/work
jupyter_client @ file:///C:/miniconda3/conda-bld/jupyter_client_1762943100278/work
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
jupyter_server @ file:///C:/b/abs_cdpu8und98/croot/jupyter_server_1751996637146/work
jupyter_server_terminals @ file:///C:/b/abs_adjrm9dtns/croot/jupyter_server_terminals_1744706714294/work
jupyterlab @ file:///C:/miniconda3/conda-bld/jupyterlab_1758125109182/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/miniconda3/conda-bld/jupyterlab_server_1761751445459/work
jupyterlab_widgets @ file:///C:/b/abs_6566by8dag/croot/jupyterlab_widgets_1752066574111/work
keras==3.1.1
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
lazy-object-proxy @ file:///C:/miniconda3/conda-bld/lazy-object-proxy_1761758716859/work
lazy_loader @ file:///C:/b/abs_3fs2i5w5p3/croot/lazy_loader_1718176758844/work
lckr_jupyterlab_variableinspector @ file:///C:/b/abs_a7k1hndm37/croot/jupyterlab-variableinspector_1744638305846/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libclang==18.1.1
libmambapy @ file:///C:/b/abs_71g8gec0dd/croot/mamba-split_1694187821755/work/libmambapy
linkify-it-py @ file:///C:/miniconda3/conda-bld/linkify-it-py_1758717672635/work
llvmlite @ file:///C:/b/abs_a8i9keuf6p/croot/llvmlite_1683555140340/work
lmdb @ file:///C:/b/abs_2decx3xz4y/croot/python-lmdb_1736541366547/work
locket @ file:///C:/ci_311/locket_1676428325082/work
lxml @ file:///C:/b/abs_9e7tpg2vv9/croot/lxml_1695058219431/work
lz4 @ file:///C:/miniconda3/conda-bld/lz4_1762954208591/work
Markdown @ file:///C:/b/abs_f9hbi7znfr/croot/markdown_1746114643651/work
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.6
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///C:/b/abs_88j0o6_jpr/croot/mdit-py-plugins_1756381038807/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552226563/work
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
mistune==3.0.2
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_311/mkl_random_1676481991689/work
mkl-service==2.4.0
ml-dtypes==0.3.2
more-itertools @ file:///C:/miniconda3/conda-bld/more-itertools_1761121550816/work
mpi4py @ file:///C:/b/abs_2c72fs0pz9/croot/mpi4py_1749458512296/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack @ file:///C:/b/abs_4b3t4uhz3r/croot/msgpack-python_1750958631084/work
multidict @ file:///C:/miniconda3/conda-bld/multidict_1760566726284/work
multipledispatch @ file:///C:/miniconda3/conda-bld/multipledispatch_1756978472208/work
mypy @ file:///C:/miniconda3/conda-bld/mypy-split_1761904877212/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
namex==0.0.7
narwhals @ file:///C:/miniconda3/conda-bld/narwhals_1760003512849/work
navigator-updater @ file:///C:/b/abs_895otdwmo9/croot/navigator-updater_1695210220239/work
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert==7.16.3
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
nltk @ file:///C:/miniconda3/conda-bld/nltk_1761121193570/work
notebook @ file:///C:/b/abs_ddnsjx06fh/croot/notebook_1756709315423/work
notebook_shim @ file:///C:/b/abs_9ctyfgpncn/croot/notebook-shim_1741707829491/work
numba @ file:///C:/b/abs_00f2z7znbq/croot/numba_1690878309825/work
numexpr @ file:///C:/ci_311_rebuilds/numexpr_1679001276672/work
numpy==1.26.3
numpydoc @ file:///C:/b/abs_e63bcy53_z/croot/numpydoc_1750958653347/work
open3d==0.18.0
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
openpyxl @ file:///C:/b/abs_6cdczthntz/croot/openpyxl_1736371239628/work
opt-einsum==3.3.0
optree==0.10.0
overrides @ file:///C:/miniconda3/conda-bld/overrides_1762349150310/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas==2.1.4
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977624481/work
panel @ file:///C:/miniconda3/conda-bld/panel_1762899229815/work
param @ file:///C:/b/abs_989glc2r3y/croot/param_1750081529401/work
paramiko @ file:///C:/miniconda3/conda-bld/paramiko_1762937324436/work
parsel @ file:///C:/miniconda3/conda-bld/parsel_1761560691295/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781926029/work
partd @ file:///C:/b/abs_e1k4ow1dv4/croot/partd_1736803443606/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///C:/miniconda3/conda-bld/pathspec_1761820738044/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pexpect @ file:///C:/miniconda3/conda-bld/pexpect_1762535955307/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/b/abs_20ztcm8lgk/croot/pillow_1696580089746/work
pkce @ file:///C:/b/abs_d0z4444tb0/croot/pkce_1690384879799/work
pkginfo @ file:///C:/b/abs_79p91g_cie/croot/pkginfo_1743184772345/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356607961/work
plotly @ file:///C:/b/abs_8926yyyylu/croot/plotly_1756453681452/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
ply==3.11
pooch @ file:///C:/b/abs_7acoiuwpey/croot/pooch_1731007069545/work
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
propcache @ file:///C:/b/abs_57780xb0gk/croot/propcache_1744012740137/work
Protego @ file:///C:/b/abs_48sti5uql_/croot/protego_1746479771804/work
protobuf==3.20.3
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
py-cpuinfo @ file:///C:/b/abs_9ej7u6shci/croot/py-cpuinfo_1698068121579/work
pyarrow==11.0.0
pyasn1 @ file:///C:/b/abs_f15ydy2f_9/croot/pyasn1_1729239810559/work
pyasn1_modules @ file:///C:/b/abs_12mhyss7ds/croot/pyasn1-modules_1752042911584/work
pycodestyle @ file:///C:/ci_311/pycodestyle_1678376707834/work
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496060165/work
pyct @ file:///C:/miniconda3/conda-bld/pyct_1759932162253/work
pycurl==7.45.2
pydantic @ file:///C:/b/abs_42nd505mjc/croot/pydantic_1731939304308/work
PyDispatcher @ file:///C:/b/abs_7bay5wbi80/croot/pydispatcher_1750159265590/work
pydocstyle @ file:///C:/ci_311/pydocstyle_1678402028085/work
pyerfa @ file:///C:/b/abs_35x4fn08_4/croot/pyerfa_1738083087918/work
pyflakes @ file:///C:/ci_311/pyflakes_1678402101687/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425708/work
PyJWT @ file:///C:/b/abs_02n5wes3j9/croot/pyjwt_1736178904450/work
pylint @ file:///C:/ci_311/pylint_1678740302984/work
pylint-venv @ file:///C:/b/abs_3f6p_17zia/croot/pylint-venv_1709837680309/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/miniconda3/conda-bld/pynacl_1758892099823/work
pyodbc @ file:///C:/miniconda3/conda-bld/pyodbc_1761670495027/work
pyOpenSSL @ file:///C:/miniconda3/conda-bld/pyopenssl_1762166558459/work
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/ci_311/pyqt-split_1676428895938/work/pyqt_sip
PyQtWebEngine==5.15.4
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753028158/work
pytest @ file:///C:/miniconda3/conda-bld/pytest_1758125281680/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
python-json-logger @ file:///C:/b/abs_0cm_mnox0z/croot/python-json-logger_1734370042436/work
python-lsp-black @ file:///C:/ci_311/python-lsp-black_1678721855627/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_catecj7fv1/croot/python-lsp-server_1681930405912/work
python-slugify @ file:///C:/b/abs_fdwjv2ltdf/croot/python-slugify_1756292277346/work
pytoolconfig @ file:///C:/b/abs_f2j_xsvrpn/croot/pytoolconfig_1701728751207/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pyviz_comms @ file:///C:/miniconda3/conda-bld/pyviz_comms_1758102134650/work
PyWavelets @ file:///C:/b/abs_a8rls0q_ez/croot/pywavelets_1737133696904/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
pywinpty @ file:///C:/b/abs_883wh7sts8/croot/pywinpty_1741871674963/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///C:/ci_311/qstylizer_1678502012152/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/b/abs_eb4u9jg07y/croot/qtconsole_1681402843494/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531228141/work
queuelib @ file:///C:/miniconda3/conda-bld/queuelib_1762896926481/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536905217/work
regex @ file:///C:/miniconda3/conda-bld/regex_1758887965257/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611410/work
requests-file @ file:///C:/b/abs_804owi11qo/croot/requests-file_1749719355197/work
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
retrying==1.3.4
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.7.1
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/miniconda3/conda-bld/rope_1762431492505/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366642821/work
rtree @ file:///C:/b/abs_66imkwbe1d/croot/rtree_1755874884341/work
ruamel-yaml-conda @ file:///C:/ci_311/ruamel_yaml_1676455799258/work
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
s3fs @ file:///C:/b/abs_adfhcfx438/croot/s3fs_1682551489845/work
scikit-image @ file:///C:/b/abs_2075zg1pia/croot/scikit-image_1682528361447/work
scikit-learn @ file:///C:/b/abs_daon7wm2p4/croot/scikit-learn_1694788586973/work
scipy==1.16.3
Scrapy @ file:///C:/b/abs_e83a40s8op/croot/scrapy_1756709406800/work
seaborn==0.13.1
Send2Trash @ file:///C:/b/abs_7e73ol18dl/croot/send2trash_1736542724140/work
service-identity @ file:///C:/b/abs_2bq9_6ah3e/croot/service_identity_1749714991616/work
sip @ file:///C:/ci_311/sip_1676427825172/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap @ file:///C:/b/abs_85z04amxrn/croot/smmap_1752748960667/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
snowballstemmer @ file:///C:/b/abs_d7mwab58nt/croot/snowballstemmer_1756709980754/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soundfile==0.13.1
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_e99kl7d8t0/croot/spyder_1681934304813/work
spyder-kernels @ file:///C:/b/abs_e788a8_4y9/croot/spyder-kernels_1691599588437/work
SQLAlchemy @ file:///C:/b/abs_52irs3wj21/croot/sqlalchemy_1756710015498/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
statsmodels @ file:///C:/b/abs_6f5u1m2ygp/croot/statsmodels_1753363817829/work
streamlit @ file:///C:/miniconda3/conda-bld/streamlit-split_1761826273672/work/streamlit
sympy @ file:///C:/b/abs_f1v7nwa6vp/croot/sympy_1756713483242/work
tables @ file:///C:/b/abs_bb9u034au4/croot/pytables_1738950437778/work
tabulate @ file:///C:/b/abs_21rf8iibnh/croot/tabulate_1701354830521/work
tblib @ file:///C:/b/abs_a4ikhoig03/croot/tblib_1749739473644/work
tenacity @ file:///C:/miniconda3/conda-bld/tenacity_1760375746463/work
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado @ file:///C:/miniconda3/conda-bld/terminado_1757934979771/work
tex==1.8
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/b/abs_44khpg87dn/croot/textdistance_1751314517731/work
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///C:/miniconda3/conda-bld/tifffile_1759918264564/work
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tldextract @ file:///C:/b/abs_34gknp7o18/croot/tldextract_1723064394448/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/b/abs_88e598m6o8/croot/tomli_1753774604115/work
tomlkit @ file:///C:/miniconda3/conda-bld/tomlkit_1762896656295/work
toolz @ file:///C:/b/abs_57avamxh36/croot/toolz_1736796279321/work
torch==2.2.2+cu121
torchaudio==2.2.2+cu121
torchsummary==1.5.1
torchvision==0.17.2
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863370310/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
Twisted @ file:///C:/miniconda3/conda-bld/twisted_1762252510096/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
typing_extensions==4.10.0
tzdata @ file:///croot/python-tzdata_1746123641790/work
uc-micro-py @ file:///C:/miniconda3/conda-bld/uc-micro-py_1758552195137/work
ujson @ file:///C:/miniconda3/conda-bld/ujson_1763119348761/work
urllib3 @ file:///C:/b/abs_eeswtzv5iq/croot/urllib3_1718978558630/work
w3lib @ file:///C:/b/abs_957begrwnl/croot/w3lib_1708640020760/work
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775795953/work
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
wfdb==4.3.0
wget==3.2
whatthepatch @ file:///C:/miniconda3/conda-bld/whatthepatch_1758276665143/work
widgetsnbextension @ file:///C:/miniconda3/conda-bld/widgetsnbextension_1761556763484/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278197/work
wrapt @ file:///C:/b/abs_68gzx33lzh/croot/wrapt_1736543196433/work
xarray @ file:///C:/b/abs_11s3bnmez3/croot/xarray_1749192866207/work
xlwings @ file:///C:/miniconda3/conda-bld/xlwings_1758805254961/work
xyzservices @ file:///C:/miniconda3/conda-bld/xyzservices_1758720212714/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///C:/miniconda3/conda-bld/yarl_1762250163326/work
zict @ file:///C:/b/abs_780gyydtbp/croot/zict_1695832899404/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.interface @ file:///C:/miniconda3/conda-bld/zope.interface_1762337278585/work
zstandard==0.19.0
